body {
    background-color: grey;
    height: 100dvh;
    width: 100dvw;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.spreadsheet {
  height: 50dvh;
  background-color: white;
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
  grid-template-columns: repeat(19, 20dvw);
  place-items: center;
  overflow-x: auto;
}

.btn {
    min-width: 20dvw;
    grid-row: 2 / 3;
}

.colContent {
  grid-row: 1 / 2 ;
  border: 2px solid grey;
  justify-self: stretch;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.colLeg {
    grid-row: 3 / 4;
    color: blue;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.colVisible {
  opacity: 1;
}
